html{
  margin-right: 5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #98968a;
}

li {
  float: left;
}

li a {
  font-family: "Times New Roman", Times, serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: black;
  background-color: white;
}

.text_box{
  background-color: white;
  font-size: 18px;
  border: 1px;
  padding: 0.5px;
  padding-left: 5px; 
}

body {
   font-family: Arial, "Times New Roman",
    Times, serif;
	color: black;
    background-color: #c3c0b0;
}
	
h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif 
}
		  

a:link {
    color: blue;
}
	
a:visited {
    color: black
}
	
address {
	font-family: Times New Roman;
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted 
}
	
h1{
	margin-left: 1em;
}

reference{
	font-size: 10px;
}

p{
	font-size: 20px;
}

.home_image_1{
	margin-top:20px;
	margin-left: 50px;
}

